flask
gunicorn
pandas
matplotlib
scikit-learn
numpy
seaborn
tensorflow==2.8.0
tensorflow-estimator==2.8.0
tensorflow-gpu==2.8.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.7.0
tensorflow-model-optimization==0.7.0
tensorflow-text==2.8.0
